<configuration>
  <appender name="SIMPLEDB" class="com.kikini.logging.simpledb.SimpleDBAppender">
    <domainName>your_simpledb_domain</domainName>
    <accessId>your_aws_access_id</accessId>
    <secretKey>your_aws_secret_key</secretKey>
    <timeZone>UTC</timeZone>
    <loggingPeriodMillis>5000</loggingPeriodMillis>
    <host>localhost</host>
    <contextName>my_context</contextName>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>STDOUT appender: %msg %n</Pattern>
    </layout>
  </appender>

  <root level="INFO">
    <appender-ref ref="SIMPLEDB"/>
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
